body {
  background-color: #fcf5e5;
  font-size: 1.7rem;
  height: 100vh;
  color: #2d2926ff;
}

.sec-cont {
  padding: 3rem 6rem 0 6rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

p {
  text-align: justify;
  margin-bottom: 1rem;
}

.quote-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 2rem;
}

i {
  font-style: italic;
}
